<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://static1.purebreak.com.br/articles/3/95/51/3/@/373472-todo-mundo-e-uma-mistura-de-integrante-d-950x0-1.jpg"
        alt="RBD"
        height="200px"
      />
    </div>
    <div class="small-card__title">
      <h1><a href="#">Eles estão de volta!</a></h1>
    </div>
  </div>

  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
